anyio==3.7.1
arrow==1.3.0
binaryornot==0.4.4
cellpose==3.1.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.3
colorama==0.4.6
contourpy==1.3.0
cookiecutter==2.1.1
cycler==0.12.1
exceptiongroup==1.2.2
fastremap==1.15.0
filelock==3.17.0
fonttools==4.55.5
fsspec==2025.2.0
GPUtil==1.4.0
h11==0.12.0
httpcore==0.15.0
httpx==0.23.0
idna==3.10
imagecodecs==2024.9.22
imageio==2.37.0
imglyb==2.1.0
jgo==1.0.6
Jinja2==3.1.4
jinja2-time==0.2.0
JPype1==1.5.0
kiwisolver==1.4.7
labeling==0.1.14
lazy_loader==0.4
llvmlite==0.43.0
mahotas==1.4.18
MarkupSafe==3.0.2
matplotlib==3.9.4
mpmath==1.3.0
natsort==8.4.0
networkx==3.2.1
numba==0.60.0
numpy==2.0.2
opencv-python-headless==4.11.0.86
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pkginfo==1.8.3
psutil==6.1.1
pyimagej==1.6.0
pyparsing==3.2.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
requirements-parser==0.5.0
rfc3986==1.5.0
roifile==2024.9.15
scikit-image==0.24.0
scipy== 1.13.1
scyjava==1.10.1
six==1.16.0
sniffio==1.3.1
sympy==1.13.1
text-unidecode==1.3
tifffile==2024.8.30
torch==2.6.0
tqdm==4.67.1
types-python-dateutil==2.9.0.20241003
types-setuptools==75.2.0.20241025
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.2.3
xarray==2024.7.0
zstandard==0.17.0
